{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'css/login.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block contenido %}
    {{ form_start(form, {'attr': {'class': 'form-signin'}}) }}
        <h2 id="security_login_titulo" class="form-signin-heading">{{ 'security.solicitud_credenciales'|trans }}</h2>
        {{ form_label(form._username, 'security.username'|trans, {'label_attr': {'class': 'sr-only'}}) }}
        {{ form_widget(form._username, {'attr': {'class': 'form-control', 'placeholder': 'security.username'|trans}}) }}
        {{ form_label(form._password, 'security.password'|trans, {'label_attr': {'class': 'sr-only'}}) }}
        {{ form_widget(form._password, {'attr': {'class': 'form-control', 'placeholder': 'security.password'|trans}}) }}
        {% if statusCode in (400..499) %}
            <div class="panel panel-danger">
              <div class="panel-heading">
                {{ titulo|trans }}
              </div>
            </div>
        {% endif %}
        <button id="security_login_login" class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit">{{ 'security.login'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
